/*=====================================
RESPONSIVO
======================================*/

@media(max-width:992px){

.hero-grid{

display:flex;
flex-direction:column;

}

.hero h1{

font-size:42px;
line-height:48px;

}

nav ul{

display:none;

}

}

@media(max-width:768px){

.container{

width:95%;

}

.hero{

padding:120px 20px;

}

.hero p{

font-size:18px;

}

.botoes{

display:flex;
flex-direction:column;

}

.btn-principal,
.btn-secundario{

text-align:center;

}

}
